{% extends 'layout.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block styles %}
    <style>
        .form-box {
            border: 1px solid #ddd; 
            padding: 20px; 
            border-radius: 5px; 
        }

        
    </style>
{% endblock %}

{% block content %}



<div class="container">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="form-box mt-5">
    <h1 class="display-4 text-center">Sponsor Register</h1>
    <form action="" method="POST" class="form">
        <div class="form-group mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="company_or_individual" class="form-label">Company/Individual</label>
            <select id="company_or_individual" name="company_or_individual" class="form-control" required>
                <option value="">Select type</option>
                <option value="Instagram">Company</option>
                <option value="YouTube">Individual</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your full name" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" class="form-control" required>
        </div>
        
        <h2 class="display-7 text-center">Business Profile</h2>
        
        <div class="form-group mb-3">
            <label for="industry" class="form-label">Industry</label>
            <select id="industry" name="industry" class="form-control" required>
                <option value="">Select Category</option>
                <option value="Fashion">Fashion</option>
                <option value="Travel">Travel</option>
                <option value="Gaming">Gaming</option>
                <option value="Food">Food</option>
                <option value="Fitness">Fitness</option>
                <option value="DIY & Crafts">DIY & Crafts</option>
                <option value="Music">Music</option>
                <option value="Finance & Investment">Finance & Investment</option>
                <option value="Science & Engineering">Science & Engineering</option>
                <option value="Sports">Sports</option>
            </select>
        </div>
        
        <div class="form-group mb-3">
            <label for="niche" class="form-label">Niche (optional)</label>
            <input type="text" id="niche" name="niche" placeholder="Enter your niche" class="form-control" >
        </div>
        
        <div class="form-group mb-3">
            <label for="business_link" class="form-label">Website link/ Other Business links(if any)</label>
            <input type="url" id="business_link" name="business_link" placeholder="Enter your profile link" class="form-control" >
        </div>
        
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
